<h1>创建新商品</h1>

<form action="/createGood" method="POST">
<label>商品名:</label>
<input name="name" type="text">
<br>
<label>库存:</label>
<input name="inventory" type="number">
<br>
<label>类别:</label>
<input name="type" type="text">
<br>
<label>单价:</label>
<input name="price" type="number">
<br>
<button type="submit">添加</button>
</form>